barcode-reader/.gradle/
barcode-reader/.idea/
barcode-reader/local.properties
barcode-reader/app/app.iml
barcode-reader/app/build/
WebScraper/.idea/
WebScraper/app/.gitignore
WebScraper/.gitignore
WebScraper/local.properties
WebScraper/WebScraper.iml
WebScraper/.gradle/5.1.1/gc.properties
WebScraper/.gradle/5.1.1/executionHistory/executionHistory.lock
WebScraper/.gradle/5.1.1/executionHistory/executionHistory.bin
WebScraper/
